# IntelliJ / Android Studio
.idea/
*.iml
.idea/vcs.xml
.idea/.name


# Gradle
.gradle/
build/

# Default ignored files
/shelf/
/workspace.xml

# Queries
/queries/

# Datasources
/dataSources/
/dataSources.local.xml

# HTTP client
/httpRequests/

# macOS
.DS_Store